/*
// Colors
$off-black: #20222b;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$off-white: #a5afd7;
$purple: #8357c5;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
*/

/* Base Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #2B292E;
  color: #fafafa;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  height: 100vh;
  overflow-y: hidden;
}

button {
  cursor: pointer;
}

a {
    color: #6F439C;
}

/* Container */

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 1.6rem;
}

/* Header */

.header {
  background: #6F439C;
  color:white;
  padding: 1.6rem 0;
  &__title {
    font-size: 3.2rem;
    margin-bottom: .4rem;
  }
  &__subtitle {
    /* color: #777; */
    font-size: 1.6rem;
    font-weight: 300;
  }
}

/* Actions Bar */

.actions {
    background-color: #353239;
    /* border-bottom: 1px solid #dedfe0; */
    /* color: #333333; */
    padding: 1rem;
    &__container {
        align-items: center;
        display: flex;
        width: 80%;
        margin: 0 auto;
        min-height: 3rem;
        padding: 0 1.6rem;
    }
    &__container--spaced {
        justify-content: space-between;
    }
}

/* Form Inputs */

.input {
    border: none;
    font-size: 1.4rem;
    font-weight: 300;
    height: 3rem;
    margin-right: 1.6rem;
    padding: .4rem .8rem;
    border-radius: .5rem;
}

.checkbox {
    display: flex;
    align-items: baseline;
}

.checkbox > input {
    margin-right: .4rem;
}

.button {
    background: #7044a0;
    border: none;
    border-bottom: 2px solid #603a88;
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
    padding: .8rem;
    border-radius: .5rem;
    transition: background .3s ease, color .3s ease;
    &:hover {
        background: #5F3A87;
    }
    &--secondary {
        background: #888888;
        border-bottom: 2px solid #717171;
        &:hover {
            background: #6E6E6E;
        }
    }
    &--text {
        background: none;
        border: none;
        color: #aaa;
        &:hover {
            background: none;
            color: white;
            text-decoration: underline;
        }
    }
}

/* Note editor */
.todos{
    overflow-y: scroll;
    scroll-behavior: smooth;
    &-form{
        width: 100%;
        input, button{
            height: 5rem;
        }
        input{
            display: block;
            text-indent: 1rem;
        }
        button{
            transform: translateY(5rem);
        }
    }
}
.todo-display{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    .todos{
        height: 70vh;
        &-form{
            transform: translateY(5rem);
            input, button{
                width: 100%;
            }
        }
    }
}

.title-input {
    border: 1px solid #DEDFE0;
    font-size: 2rem;
    font-weight: 300;
    display: block;
    margin: 2.4rem 0;
    padding: .8rem;
    width: 100%;
}

.body-input {
    border: 1px solid #DEDFE0;
    font-family: inherit;
    font-size: 1.6rem;
    font-weight: 300;
    display: block;
    margin: 2.4rem 0;
    min-height: 15rem;
    padding: .8rem;
    width: 100%;
}

/* Note List Item */

.list-item {
    text-decoration: none;
    color: #fafafa;
    cursor: pointer;
    background: #353239;
    border: 1px solid #423e47;
    margin: 1.6rem 0;
    padding: 1rem 1.6rem;
    display: block;
    transition: background .3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__container {
        display: flex;
        font-size: 1.8rem;
        font-weight: 300;
        align-items: baseline;
    }
    :hover {
        background: #3d3941;
    }
    &__title {
        font-size: 1.8rem;
        margin-bottom: .4rem
    }
    &__subtitle {
        color: #666;
        font-size: 1.4rem;
        font-weight: 300;
        font-style: italic;
    }
}

.list-item__container > *:first-child {
    margin-right: .8rem;
}

.list-title {
    margin: 3.2rem 0 1.6rem;
}

.empty-message {
    margin: 3.2rem 0;
}

@media only screen and (min-width : 62rem){

    .container {
        max-width: 90rem;
    }
    .actions__container {
            max-width: 90rem;
    }

    .todo-display{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        .todos{
            width: 60%;
            height: 45rem;
            padding: 0 1rem;
            &-form{
                width: 40%;
                input, button{
                    width: 80%;
                }
            }
        }
    }
}